{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="form-center">
        <div class="form-wrapper">
            
            <div class="header-container">
                <a href="{% url 'todo:home' %}">
                    <img src="{% static 'img/undo.png' %}" alt="" class="header-img">
                </a>
                <h2 class="header-title">Edit</h2>
            </div><hr>

            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="edit" class="form-input">
            </form>
        </div>
    </div>

{% endblock %}